.form_estudante_id
	{
		font-size: 16px;
		padding: 10px;
	}

.form_string
	{
		font-size: 16px;
		border: 1px solid #888;
	}
.form_textarea
	{
		font-size: 16px;
		border: 1px solid #888;		
	}

.form_select
	{
		font-size: 16px;
		border: 1px solid #888;		
	}
.form_select option
	{
		font-size: 16px;
		border: 1px solid #888;
		color: 333;		
	}
