/* Folha */
	.captacao_folha {
		border-radius: 15px 0px 15px 0px;
		/* padding: 10px; */
		text-align: center;
		color: white;
		padding: 10px 5px 10px 5px;
	}
/* Colunas */
.3colunas{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
   }
.2colunas
	{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;		
	}
/* Botoes do Edital */
.edital {
	display: block;
	width: 400px;
	height: 200px;
	border: 1px solid #333;
	border-radius: 10px;
	float: left;
	margin: 0px 10px 10px 0px;
	background-color: #ffffff;
	padding: 20px 20px 20px 20px;
	box-shadow: 3px 3px 3px #888888;
}
.edital_titulo {
	font-size: 22px;
	width: auto;
}
.edital_deadline {
	text-align: right;
	font-size: 18px;
	color: #BF6500;
}
.edital_chamada {
	font-size: 16px;
	color: black;
}
.edital_link {
	font-size: 22px;
	color: black;
	text-decoration: none;
	opacity: 0.6;
}
.edital_link:hover {
	opacity: 1;
}
.align-bottom {
	position: relative;
	bottom: 0px;
	left: 25px;
}
/* Class Erro */
.footer {
	display: block;
	page-break-before: always;
}
.error {
	color: red;
}
/* Botao lateral */
#email_enviado {
	position: absolute;
	top: 20px;
	right: 80px;
	border: 1px solid #000000;
	width: 250px;
	z-index: 20;
	background-color: #eee;
	opacity: 0.8;
	padding: 10px;
	border-radius: 10px;
}
.left_mark {
	background-color: #cfcfcf;
	text-indent: -65.5px;
	color: #111;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	height: 23px;
	line-height: 23px;
	width: 137px;
	text-decoration: none;
	text-align: right;
	cursor: pointer;
	padding-right: 10px;
}
.left_mark:hover {
	background-color: #4d4d4c;
	color: #eee;
}
.left_mark:active {
	position: relative;
	top: 1px;
}
.semic_salas {
	width: 300px;
	height: 70px;
	border: 1px solid #333;
	margin: 10px;
	float: left;
	font-size: 18px;
	padding: 10px;
	box-shadow: 3px 3px 5px #888888;
	background-color: #efefef;
	cursor: pointer;
	color: #111;
}
.semic_salas:hover {
	background-color: #808080;
	color: #ffffff;
}
/* Botao acao */
.btn {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #888888;
	display: inline-block;
	cursor: pointer;
	color: #111111;
	font-family: Arial;
	font-size: 12px;
	/* font-weight:bold; */
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}
.btn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter: progid :DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color: #dfdfdf;
}
.btn:active {
	position: relative;
	top: 1px;
}
/* Botao 3d */
.botao3d {
	font-family: Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	padding: 10px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
.botao3d a, a:hover {
	text-decoration: none;
	transition: 0;
}
.back_green {
	background: green;
	color: #fff;
}
.back_red {
	background: red;
	color: #fff;
}
.back_grey {
	background: #888;
	color: #fff;
}
.back_green_shadown {
	box-shadow: 0px 5px 0px #006000;
}
.back_grey_shadown {
	box-shadow: 0px 5px 0px #606060;
}
.back_red_shadown {
	box-shadow: 0px 5px 0px #600000;
}
.botao3d:active {
	position: relative;
	top: 5px;
	box-shadow: none;
	transition: 0;
}
/* UI */
.ui-autocomplete-loading {
	background: #fff url('../img/ajax/ajax_loader.gif') right center no-repeat !important;
}
/* Docente */
#cabecalho-user-perfil {
	width: 80%;
	/*background-color: #f00038;*/
	height: 200px;
}
.info-pessoais li {
	list-style: none;
	margin-left: 30px;
	color: #484848;
	padding-bottom: 2px;
}
#foto-perfil {
	background-color: #cbfbf4;
	height: 200px;
	width: 150px;
	float: left;
}
.bloco_avaliador {
	bottom: 0;
}
.titulo-info-pesquisador {
	color: #8B1217;
}
.espaco-informacoes-perfil {
	height: 500px;
	width: 500px;
}
.info-pesquisador li {
	list-style: none;
	color: #484848;
	padding-bottom: 5px;
}
#info-pesquisador {
	float: right;
	height: 90%;
	background-color: #e4e4e4;
	padding: 10px 10px 20px 10px;
	width: 300px;
}
/* */

.ui-state-focus {
	color: blue;
}
.ui-menu-item {
	color: blue;
}
.ui-menu-item:hover {
	color: green;
}
/* Botoes */
.bt_acao {
	background-color: #308030;
	color: #FFFFFF;
	cursor: pointer;
	width: 100%;
	height: 20px;
	padding-top: 5px;
}
.bt_acao:hover {
	background-color: #106010;
	color: #FFFFFF;
}
.bt_desativado {
	background-color: #d0d0d0;
	color: #FFFFFF;
	cursor: pointer;
	width: 100%;
	height: 20px;
	padding-top: 5px;
}
.bt_desativado:hover {
	background-color: #805050;
	color: #FFFFFF;
}
a.botao-excluir {
	border: 1px solid #FF0000;
	font-size: 12px;
	text-align: center;
	padding: 2px 20px 2px 20px;
	text-decoration: none;
	background-color: #800000;
	color: #FFFFFF;
}
.botao-grande {
	padding: 10px 20px 10px 20px;
	margin-left: 10px;
}
/* Corpo */
body {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	font-family: CICPG, Helvetica, Tahoma, Arial, sans-serif;
	font-size: 13px;
	color: #333333;
}
.bold {
	font-weight: bold;
}
.link {
	color: #000080;
	text-decoration: none;
	cursor: pointer;
}
.link:hover {
	color: #000000;
	text-decoration: underline;
}
/* Cores */
.bg_bordo {
		background-color: #8a0419;
}
.bg_grey {
		background-color: #c0c0c0;
}
.bg_lgrey {
		background-color: #f0f0f0;
}
.bg_lgreen {
		background-color: #e0ffe0;
}
.bg_lred {
		background-color: #ffe0e0;
}
.bg_lblue {
		background-color: #e0e0ff;
}
.black {
	color: #000000;
}
.grey {
	color: #606060;
}
a {
	opacity: 0.6;
}
a:hover {
	opacity: 1;
	transition: 1s;
}
.lt0 {
	font-size: 10px;
}
.lt1 {
	font-size: 12px;
}
a.lt1 {
	font-size: 12px;
	text-decoration: none;
	color: #000080;
}
.lt2 {
	font-size: 14px;
}
.lt3 {
	font-size: 16px;
}
.lt4 {
	font-size: 18px;
}
.lt5 {
	font-size: 22px;
}
.lt6 {
	font-size: 26px;
}
.menu_item {
	line-height: 190%;
	border: 0px solid #000000;
	padding: 5px;
	margin-bottom: 20px;
	width: 400px;
	text-transform: uppercase;
}
.menu_item_li {
	margin-left: 30px;
	line-height: 190%;
	color: #33333;
	font-size: 14px;
	text-transform: capitalize;
}
.menu_item_li_3 {
	margin-left: 60px;
	line-height: 170%;
	color: #33333;
	font-size: 12px;
	text-transform: capitalize;
}
.menu_item_li:hover, .menu_item_li_3:hover {
	text-decoration: underline;
}
/* Formulario */
#form_search {
	padding: 40px 0px 0px 0px;
	width: 100%;
	height: 100px;
}
.form_search_in {
	font-size: 14px;
	height: 40px;
	width: 400px;
}
.form_search_bt {
	font-size: 10px;
	height: 40px;
	padding: 5px 20px;
}
/* Photos - Fotografia */
#photo {
	border: 1px solid #333333;
	padding: 10px;
}
/* Shadown */
.shadown {
	box-shadow: 5px 5px 5px #888888;
}
/* Margins */
.m10r {
	margin-right: 10px;
}
.m10b {
	margin-bottom: 10px;
}
/* Padding */
.pad5 td {
	padding: 3px;
}
/* Borders */
.border1 {
	border: 1px solid #c0c0c0;
}
.borderb1 {
	border-bottom: 1px solid #c0c0c0;
}
.bordert1 {
	border-top: 1px solid #c0c0c0;
}
.borderr1 {
	border-right: 1px solid #c0c0c0;
}
.radius10 {
	border-radius: 10px;
}
h1
	{
		font-size: 28px;
		font-weight: bold;
	}
h2
	{
		font-size: 25px;
		font-weight: bold;
	}
/* Header */
.icone-iniciacao-cientifica-cor, .icone-admin-cor, .icone-green-cor, .icone-submit-cor
	{
		font-size: 20px;
		font-weight: bold;
	}

/* Table */
table{
	border-spacing: 2px 2px;
	border-collapse: separate;
}

td{
    padding: 2px;
}
th
	{
		text-align: center;
		font-size: 10px;
		font-weight: bold;
	}
