/* UI */
.ui-autocomplete-loading {
  background: #fff url('../img/ajax/ajax_loader.gif') right center no-repeat !important;
}
/* Docente */
#cabecalho-user-perfil {
	width: 80%;
	/*background-color: #f00038;*/
	height: 200px;
}

.info-pessoais li{
	list-style: none;
	margin-left: 30px;
	color: #484848;
	padding-bottom: 2px;
	
}

#foto-perfil{
	background-color: #cbfbf4;
	height: 200px;
	width: 150px;
	float: left;
}

.titulo-info-pesquisador {
	color: #8B1217;
}

.espaco-informacoes-perfil {
	height: 500px;
	width: 500px;
}

.info-pesquisador li{
	list-style: none;
	color: #484848;
	padding-bottom: 5px;
}
#info-pesquisador {
	float: right;
	height: 90%;
	background-color: #e4e4e4;
	padding: 10px 10px 20px 10px;
	width: 300px;
}

/* */

.ui-state-focus { color: blue; }
.ui-menu-item { color: blue; }
.ui-menu-item:hover { color: green; }

/* Botoes */
.bt_acao
	{
	background-color: #308030;
	color: #FFFFFF;
	cursor: pointer;
	width: 100%;
	height: 20px;
	padding-top: 5px;
	}
.bt_acao:hover
	{
	background-color: #106010;
	color: #FFFFFF;
	}
.bt_desativado
	{
	background-color: #d0d0d0;
	color: #FFFFFF;
	cursor: pointer;
	width: 100%;
	height: 20px;
	padding-top: 5px;
	}
.bt_desativado:hover
	{
	background-color: #805050;
	color: #FFFFFF;
	}		
a.botao-excluir {
	border: 1px solid #FF0000;
	font-size: 12px;
	text-align: center;
	padding: 2px 20px 2px 20px;
	text-decoration: none;
	background-color: #800000;
	color: #FFFFFF;
}

.botao-grande
	{
	padding: 10px 20px 10px 20px;
	margin-left: 10px;
	}

/* Corpo */
body {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	font-family: CICPG, Helvetica, Tahoma, Arial, sans-serif;
	font-size: 13px;
	color: #333333;
}
.bold
	{
		font-weight: bold;
	}
	
.link
	{
		color: #000080;
		text-decoration: none;
	}
.link:hover
	{
		color: #000000;
		text-decoration: underline;
	}	
/* Cores */
.grey {
	color: #606060;
}
a {
	opacity: 0.6;
}
a:hover {
	opacity: 1;
	transition: 1s;
}

.lt0 {
	font-size: 10px;
}
.lt1 {
	font-size: 12px;
}
a.lt1 {
	font-size: 12px;
	text-decoration: none;
	color: #000080;
}
.lt2 {
	font-size: 14px;
}
.lt3 {
	font-size: 16px;
}
.lt4 {
	font-size: 18px;
}
.lt5 {
	font-size: 22px;
}
.lt6 {
	font-size: 26px;
}
.menu_item {
	border: 1px solid #000000;
	padding: 5px;
	margin-bottom: 20px;
}
/* Formulario */
#form_search {
	padding: 40px 0px 0px 0px;
	width: 100%;
	height: 100px;
	}
.form_search_in {
	font-size: 14px;
	height: 40px;
	width: 400px;
}
.form_search_bt {
	font-size: 10px;
	height: 40px;
	padding: 5px 20px;
}

/* Photos - Fotografia */
#photo
	{
		border: 1px solid #333333;
		padding: 10px;
	}
/* Shadown */
.shadown {
	box-shadow: 5px 5px 5px #888888;
}
/* Margins */
.m10r {
	margin-right: 10px;
}
.m10b {
	margin-bottom: 10px;
}
/* Padding */
.pad5 td
	{
		padding: 3px;
	}
/* Borders */
.border1 {
	border: 1px solid #000000;
}
.borderb1 {
	border-bottom: 1px solid #000000;
}
.bordert1 {
	border-top: 1px solid #000000;
}
.borderr1 {
	border-right: 1px solid #000000;
}
.radius10 {
	border-radius: 10px;
}
