@media screen
	{
	#cab_print { display: none; }		
	}

@media print
	{
	#cab_screen { display: none; }	
	}
	
#cab_user
	{
		position:fixed;
		width: 400px;
		top: 6px;
		right: 10px;
		font-size: 15px;
		margin-right: 10px;
		color: #FFFFFF;
		text-align: right;
	}
#cab_title
	{
		position:fixed;
		top: 6px;
		font-size: 25px;
		margin-left: 250px;
		color: #FFFFFF;
	}	
	
#cab_nav
	{
		width: 100%;
		background-color: #8A0419;
		padding: 0px;
		font-size: 12px;
		z-index: 10;
		height: auto;
		position: fixed;
		top: 80px;
		left: 0px;
		box-shadow: 0px 3px 3px #888888;
	}	
#cab_nav ul li {
    list-style-type: none;
    margin: 0;
    display: inline;
    padding: 5px 10px 5px 10px;
}
#cab_nav ul li:hover {
    background-color: #6A0000;
}
#cab_nav a
	{
		margin-left: 0px;
		color: #FFFFFF;
		text-decoration: none;
	}
#cab_screen
	{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: #AA2439;
		z-index: 1;
		box-shadow: 0px 3px 3px #888888;
	}
	
#cab_print
	{

	}

body
	{
		margin-top: 110px;
	}

#cab_logo_1
	{
		position: absolute;
		background-size: 160px 83px;
		width: 160px;
		height: 83px;		
		background-image: url("../img/logo_cip.png");
		border: 0px solid #FFFFFF;
		float: left;
		margin-left: 5px;
		margin-top: 1px;
	}
#cab_logo_2
	{
		position: absolute;
		top: -100px;
		background-size: 75px 32px;
		width: 75px;
		height: 32px;		
		background-image: url("../img/logo_cip.png");
		border: 0px solid #FFFFFF;
		float: left;
		margin-left: 5px;
		margin-top: 1px;	
	}
	
/* Tools */
#cabecalho_user_menu
	{
		color: #fff;
		font-family: 'CICPG','Roboto', sans-serif, arial;
		font-size: 12px;
		float: right;
		padding: 4px;	
		width: 70%;	
	}
	
#cabecalho_user_menu ul li
	{
		text-align: right;
		color: #fff;
		font-family: 'CICPG','Roboto', sans-serif, arial;
		font-size: 12px;
		float: right;
		padding: 4px;
		display: inline;		
	}