body	{
	background-color: #efefef;
}
#relogio
	{
		position: absolute;
		top: 0px;
		left: 50%;
	}
#sala_logo
	{
		width: 530px;
		border: 0px solid #808080;
		padding: 0px;
		position: absolute;
		top: 450px;
		right: 10px;
		background-color: #E0E0E0;
		
	}	
#sala_logo_evento
	{
		width: 100%;
	}
#sala
	{
		border: 5px solid #808080;
		padding: 10px;
		position: absolute;
		top: 150px;
		right: 10px;
		background-color: #E0E0E0;
		
	}
#sala_id
	{
		font-size: 80px;		
	}

#sala_presente
	{
		border: 5px solid #808080;
		padding: 10px;
		position: absolute;
		top: 300px;
		right: 10px;
		background-color: #E0E0E0;
		
	}
#sala_presentes
	{
		font-size: 80px;		
	}
	
.form_string
	{
		font-size: 45px;
	}
	
