.cab_semic {
	background-color: #5E405A;
	color: #ffffff;
	text-align: center;
	height: 80px;
	font-family: "CICPG", "RobotoThin", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 25px;
}
.cab_error
	{
	font-family: "CICPG", "RobotoThin", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: red;		
	}

.cab_id {
	font-family: "CICPG", "RobotoThin", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 25px;
	background-color: #D9BD85;
	text-align: right;
}
.pad20 {
	padding: 20px 20px 20px 20px;
}
.cad_form_id {
	font-size: 40px;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 140px;
}
.cab_id_round {
	background-color: #BD85D9;
	width: 40px;
	height: 100%;
}

.id_submit {
	padding: 20px;
	border-radius: 20px;
	font-family: "CICPG", "RobotoThin", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 25px;
}

