q	@charset "utf-8";
/* CSS Document */

/* Estilos gerais */	
body {
		background-color:#a6272f;
	}

/* Estilos Menu */	
.navbar{    
	margin-bottom: 0px;
}

.navbar-default {
	box-shadow: 2px 2px 8px #888888;
    background-color: rgba(255, 255, 255, 1.00);
	
	}

	
/* Estilos Banner */	
.jumbotron { 
	background-image:url(img/banner.jpg)
	}
	

.parallax .parallax-image { 
	width:960px;
}